/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=PT+Mono&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

/* Search button */
#search-btn{
    margin-right: 2rem;
    height: 2rem;
    background-color: rgb(99, 197, 99);
    color: white;
    border: 0px;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 5rem;
}

#search-btn:hover{
    background-color: rgb(31, 141, 31);
}

/* Input */
#input{
    height: 1rem;
    border-radius: 0.5rem;
    border: 1.1px solid rgb(99, 197, 99);
    padding: 0.47rem;
    width: 13rem;
}

#input:focus{
    border: none;
    border: 1.1px solid rgb(31, 141, 31);
    
}

/* Weather container */
.container{
    position: absolute;
    right: 1rem;
    top: 1rem;
    margin: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.weather{
    text-align: center;
    margin-top: 6rem;
    font-family: 'PT Mono', monospace;
}

.heading{
    font-size: 2rem;
    margin: 2rem 0rem;
}

/* Weather Cards */
.card{
    width: 60vw;
    height: 20vh;
    background-color: rgb(134 244 255 / 47%);;
    border: 2px solid rgba(250, 147, 147,0);
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 4rem;
}

.temp{
    position: relative;
    left: -30rem;
    font-size: 2.8rem;
}

.deg{
    position: relative;
    font-size: 1.4rem;
    top: -3rem;
    left: -26rem;

}

.location, .date{
    position: relative;
    right: 13rem;
    top: -4.2rem;
    font-size: large;
    font-weight: bold;
}

.feels-like{
    position: relative;
    top: -1.9rem;
    left: -25em;
    font-size: large;
}

.humidity{
    position: relative;
    left: -8rem;
    top: -3rem;
}

.wind-speed{
    position: relative;
    top: -1rem;
    font-size: small;
    left: -27rem;
}

.visibility{
    position: relative;
    top: -2rem;
    font-size: small;
    left: -15rem;
}

.pressure{
    position: relative;
    top: -3rem;
    font-size: small;
    left: -4rem;
}

.icon{
    position: relative;
    left: 27rem;
    width: 7rem;
    top: -10rem;
}

.text{
    position: relative;
    left: 27rem;
    font-size: 1.3rem;
    top: -10rem;
}